 .questions
  {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;height: 80px;
    color: "blue";
    margin: 5px;
    padding: 5px;
    border: 3px solid green;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: 96%;
    padding-right: 10px;
  }

  .questions img {
    position: absolute;
    right: 27px;
    top: 27px;
    opacity: 0.5;
  }

  img:hover {
    opacity: 1.0;
  }
  .rules
  {
    height: 25px;
    color: "red";
    margin: 3px;
    padding: 3px;
    border: 3px;
  }
.game
   {
     height: 550px;
     margin: 5px;
     padding: 5px;
     color: navy;
     border: 3px solid navy;
   }
.inventory
  {
    height: 200px;
    margin: 5px;
    padding: 5px;
    color: dark green ;
    border: 3px solid green;
  }

  /*#container
  {
    height: 550px; 
    color: green;
    border: 3px solid black;
  }*/